<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About US</title>
	<style>
		body {
			background-image: url(https://th.bing.com/th/id/R.78527cef62514e8adf44d4b3489f35d4?rik=B4tAEimoi%2bbw%2fw&riu=http%3a%2f%2f1.bp.blogspot.com%2f-VdULbSGJ3I8%2fUBuq3kI0ChI%2fAAAAAAAAAxo%2f4m0VqJvsBFY%2fs1600%2fweb-page-backgrounds-1.jpg&ehk=09FfYfdUdO2e9DbeNBQcB%2bt34M6baAdvavvag0ej9Zk%3d&risl=&pid=ImgRaw&r=0);
			background-size: cover;
			background-repeat: no-repeat;
		}
	    .box h1 {
			position: absolute;
			top: 75px;
			left: 446px;
			font-family: 'Courier New', Courier, monospace;
			font-weight: bold;
			font-size:70px;
		}
		p {
			position: absolute;
			top:180px;
			left:450px;
			width: 42%;
			font-family: 'Courier New', Courier, monospace;
			color: rgba(37, 35, 35, 0.747);
			font-weight: bold;
			font-size:larger;

		}
		.box2 {
			color:rgba(37, 35, 35, 0.747);
			font-family: 'Courier New', Courier, monospace;
			font-weight: bold;
			
		}
		.p1 {
			color: black;
			position: absolute;
			top:450px;
			left:450px;
			border-bottom: none;
		}
		.p2 {
            position: absolute;
			top:495px;
			left:460px;
			font-size: large;
			border-bottom: solid 2px  rgba(37, 35, 35, 0.747);
		}
		.p3 {
			color: black;
			position: absolute;
			top:450px;
			left:730px;
			border-bottom: none;
		}
		.p4 {
			position: absolute;
			top:495px;
			left:750px;
			font-size: large;
			border-bottom: solid 2px  rgba(37, 35, 35, 0.747);
		
		}
		.p5 {
			position: absolute;
			top:520px;
			left:750px;
			font-size: large;
			border-bottom: solid 2px  rgba(37, 35, 35, 0.747);
		}
	    .p6 {
			position: absolute;
			top:545px;
			left:750px;
			font-size: large;
			border-bottom: solid 2px  rgba(37, 35, 35, 0.747);
		}
		
		
	</style>
</head>
<body>
	<div class="box">
		<h1 >Who We Are...</h1>
	</div>
		<!-- <h2>THE BEST GYM</h2> -->
		<p>Our team is trying to help to connect the readers by books. There are many people in our country who want to learn but they don't have enough money to study, so we as a website trying to make a bridge between the people  so that reader and donar can be connected. Also we have a special feature in which we will condunct a daily quiz and a winner of the quiz will get one free book.
		</p>
		<!-- <button class="btn">Read more</button> -->
	  </div>
	  <div class="box2">
		  <h1 class="p1">Founder</h1>
		  <h2 class="p2">Khush patel</h2>
		  <h1 class="p3">Core team</h1>
		  <h2 class="p4">Aditya Singh</h2>
		  <h2 class="p5">Janvi patel</h2>
		  <h2 class="p6">Mansvi patel</h2>
  
	x

	
	  </body2>
</html>