<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="error.css">
    
</head>
<body>
    <h1>404</h1>
    <p>Error found</p>
    <p>We lost the page</p>
    <img src="error2.png">
</body>
</html>