* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(59, 59, 59);
}
body {
    text-align: center;
}
h1 {
    font-size: 7rem;
}
p {
    font-size: 2rem;
}
img {
    margin-top: 70px;
}